.browse-wrapper {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: 100%;
  /* max-width: 83%; */
  padding: 0px 40px 0px 40px;
  margin: auto;
  width: var(--grid-container-width);
  min-width: 440px;
  min-height: 65vh;
}

.browse-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 60px;
}

.browse-actions button {
  color: #a0a0a0;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 8px;
}

.sorting {
  margin-right: 15px;
}
.sorting span,
.filter span {
  margin-left: 7px;
}

.filter {
  padding: 10px 8px;
}

.filter:hover,
.sorting:hover {
  color: #fff;
  background-color: var(--hover-menu-item-color);
  /* border: 1px solid red; */
}
