:root {
  --min-player-height-ep: 750px;
}

/* extra-small-mobile-viewport */
@media screen and (max-width: 319px) {
  :root {
    --min-player-height-ep: 250px;
  }
}

/* small-mobile-viewport */
@media screen and (min-width: 320px) {
  :root {
    --min-player-height-ep: 300px;
  }
}

/* medium-mobile-viewport */
@media screen and (min-width: 500px) {
  :root {
    /* --movie-player-height: 345px; */
    --min-player-height-ep: 400px;
  }
}

/* mobile-viewport */
@media screen and (min-width: 767px) {
  :root {
    --min-player-height-ep: 500px;
  }
}
/* tablet-viewport */
@media screen and (min-width: 834px) {
  :root {
    --min-player-height-ep: 600px;
  }
}

/* desktop-viewport */
@media screen and (min-width: 1024px) {
  :root {
    --min-player-height-ep: 700px;
  }
}

/* large-desktop-viewport */
@media screen and (min-width: 1200px) {
  :root {
    /*  */
  }
}
