.episode-player-section {
  position: relative;
  min-height: var(--min-player-height-ep);
  background: rgba(57, 57, 57, 0.745);
}

.episode-player-section video {
  display: flex;

  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100%;
  max-height: 750px; /* 16:9 Aspect Ratio */
  object-fit: cover; /* Adjust this based on your needs */
}

.watch-info-wrapper {
  display: flex;
  flex-flow: row unwrap;
  gap: 25px;
  max-width: 1200px;
  min-width: 850px;
  height: 400px;
  margin: auto;
}

.content-title-container {
  align-items: center;
  display: flex;
}

.content-title {
  position: relative;
  color: #00dc89;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

.content-title-container::after {
  background-color: #4a4e58;
  content: '';
  display: inline-block;
  height: 84%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 0.0625rem;
}

.media-info-container {
  height: 100%;
  min-width: 300px;
  min-height: 400px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.media-info-header {
  display: flex;
  align-items: center;
}

.watch-actions {
  display: flex;
  gap: 20px;
  height: 30px;
  width: 134px;
  justify-content: space-between;
  margin-top: 10px;
}

.watch-action {
  display: flex;
  align-items: center;
  width: 60px;
}

.content-description {
  margin-top: 25px;
}
