:root {
  --episode-card-background-color: #2b2b2b5b;
}

.episode {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 313px;
  height: 252px;
  /* gap: 20px; */
  overflow: hidden;
  background-color: var(--episode-card-background-color);
  border-radius: 5px;
}

.episode .thumbnail-img {
  max-height: 176px;
}

.episodethumbnail {
  position: relative;
  width: 100%;
  height: 100%;
}

.poster {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: blur(5px); */
  /* overflow: hidden; */
}

.episode:hover {
  background-color: rgba(89, 86, 86, 0.248);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* .episode picture {
    display: inline-block;
    width: fit-content;
    cursor: pointer;
  } */

.thumbnail-container {
  position: relative;
  overflow: hidden;
  height: 176px;
  width: 100%;
  max-height: 276px;
}

.episode img {
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.episode-header {
  padding: 5px 5px 5px 10px;
  position: relative;
  z-index: 1;
  width: 100%;
  max-height: 65px;
}

.episode-header h5 {
  font-size: 18px;
  font-weight: 700;
  color: white;
  display: inline-block;
  width: 100%;
}

.episode-title {
  color: rgba(220, 220, 220, 0.891);
  font-size: 15px;
  line-height: 18px;
  display: inline-block;
  max-height: 85px;
  overflow: hidden;
}
