.hero-card-container {
  .title {
    font-size: 52px;
    color: white;
    user-select: text;
  }

  .description {
    width: 100%;
    max-width: 485px;
    height: 150px;
    margin: 15px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    hyphens: auto;
    user-select: text;
    /* text-overflow: ellipsis; */
  }

  .hero-card-picture {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .hero-card-poster {
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    pointer-events: none;
    width: 100%;
    z-index: -2;
  }

  .hero-card-info {
    position: relative;
    margin: 15% 0px 3% 10px;
    height: fit-content;
    z-index: 1;
  }
}

.hero-card-container.active .hero-card-poster {
  opacity: 1;
}

.hero-card-container.inactive .hero-card-poster {
  opacity: 0;
}

.hero-card-container.inactive {
  visibility: hidden;
  max-height: 1px;
  margin-top: -1px;
  overflow: hidden;
}

.hero-card-background::after {
  position: absolute;
  content: '';
  bottom: 0;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background: linear-gradient(
      to bottom,
      #0000 min(40vh, 50%),
      var(--main-background-color) 100%
    ),
    linear-gradient(to var(--cr-end-direction), #000c 0, #0009 30%, #0000 70%);
}
