@use '~styles/main' as *;

.login {
  display: flex;
  flex: 1;
  gap: 1.3rem;
  justify-content: flex-end;
  padding-inline-end: 1.5rem;

  a {
    @extend .text-uppercase-bold;
    text-wrap: nowrap;
  }

  @media screen and (max-width: $mobile-viewport) {
    font-size: 15px;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      padding: 5px 0px;
    }
  }
}
