// General Background Colors
// $main-background-color → $background-main
$background-main: #0a1016;
// $card-background-color → $background-card
$background-card: rgba(22, 23, 23, 0.358);

// Interaction Colors
// $hover-menu-item-color → $hover-menu-item
$hover-menu-item: #a0a0a016;

// Accent Colors
$accent-green: #00dc89;

// Placeholder Colors
// $placeholder-background-color-l1 → $placeholder-background-light
$placeholder-background-light: #32323563;
// $placeholder-background-color-no-transparency → $placeholder-background-solid
$placeholder-background-solid: #1d1f22;
