/* Legacy Viewport sizes */
$small-mobile-viewport: 320px;
$medium-mobile-viewport: 500px;
$mobile-viewport: 767px;
$tablet-viewport: 834px;
$desktop-viewport: 1024px;
$large-desktop-viewport: 1200px;

// WIDTH
$width-x-small: 22.5em; // 360px
$width-small: 35.5em; // 568px
$width-medium: 50em; // 800px
$width-large: 64em; // 1024px
$width-x-large: 90em; // 1440px
$width-xx-large: 107.5em; // 1720px
$width-xxx-large: 135em; // 2160px

// Extended width
$width-x-small-extended: 30em; // 480px
$width-small-extended: 42.5em; // 680px
$width-medium-extended: 61.25em; // 980px
$width-large-extended: 79.375rem; // 1270px

// HEIGHT
$height-x-small: 25em; // 400px
$height-small: 31.25em; // 500px
$height-medium: 43.75em; // 700px
$height-large: 50em; // 800px
$height-x-large: 56.25em; // 900px
$header-height: 6.5rem;

$content-min-width: 20rem; // 320px;
$aside-width: 4.5rem; // 72px;
