.hero-cards-wrapper {
  width: 100%;
  height: 100%;
}

.horizontal-gradient {
  background: linear-gradient(to bottom, #0000 min(40vh, 50%), #000 100%),
    linear-gradient(to var(--cr-end-direction), #000c 0, #0009 30%, #0000 70%);
}

.vertical-gradient {
  background: linear-gradient(180deg, #0000, #0003 20%, #0009 56%, #000);
}

.hero-carousel-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
}

/*

.button-spacing {
  display: flex;
  gap: 1px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

*/
