.horizontal-gradient {
  background: linear-gradient(to bottom, #0000 min(40vh, 50%), #000 100%),
    linear-gradient(to var(--cr-end-direction), #000c 0, #0009 30%, #0000 70%);
}

.vertical-gradient {
  background: linear-gradient(180deg, #0000, #0003 20%, #0009 56%, #000);
}

.hero-carousel-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.hero-carousel-container {
  width: 100%;
}

.hero-carousel-picture {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-carousel-poster {
  position: absolute;
  left: 0;
  top: 80px;
  min-width: 100%;
  pointer-events: none;
  width: 100%;
  z-index: -1;
}

.hero-card-info {
  position: relative;
  margin: 220px 0px 50px 10px;
  height: 275px;
  z-index: 1;
}

.hero-card-description {
  width: 100%;
  max-width: 485px;
  max-height: 150px;
  margin: 15px 0px 0px 0px;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  hyphens: auto;
  user-select: text;
}

.hero-background::after {
  position: absolute;
  content: '';
  aspect-ratio: inherit;
  bottom: 0;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background: linear-gradient(
      to bottom,
      #0000 min(40vh, 50%),
      var(--main-background-color) 100%
    ),
    linear-gradient(to var(--cr-end-direction), #000c 0, #0009 30%, #0000 70%);
}

.hero-carousel-pagination {
  display: flex;
  flex-flow: row nowrap;
  margin: 56px 0px 0px 7px;
}

.hero-carousel__page-pill {
  background-color: #ffffff80;
  border-radius: 0.25rem;
  display: flex;
  height: 100%;
  overflow: hidden;
  transform: translateZ(0);
  transition: background-color 0.5s ease;
  width: 100%;
}

.hero-carousel__page {
  box-sizing: initial;
  height: 0.5rem;
  margin-top: -0.5rem;
  padding: 8px 4px;
  position: relative;
  transform: translateZ(0);
  transition: width 0.3s ease;
  width: 1.5rem;
  cursor: pointer;
}

@keyframes pageLoadIn {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pageLoadOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

:root {
  --cr-end-direction: right;
}

.hero-carousel__page-loader {
  animation: pageLoadOut 0.5s ease;
  background-color: hsl(149, 100%, 50%);
  border-radius: 0.25rem;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%);
  width: 100%;
}

.page-is-active .hero-carousel__page-loader {
  animation: pageLoadIn 10s linear;
  animation-play-state: running;
}

.page-is-active {
  width: 3rem;
}

.hero-carousel-arrows {
  display: flex;
  width: 64px;
  position: relative;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}

.arrow {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  pointer-events: all;
  cursor: pointer;
}

.arrow-left {
  width: 34px;
  height: 25px;
  transform: rotate(180deg);
  cursor: pointer;
}

.arrow-right {
  position: relative;
  width: 34px;
  height: 25px;
  cursor: pointer;
}

.arrow:hover {
  opacity: 0.8;
}

.button-spacer {
  /* display: inline-block; */
  margin-right: 5px !important;
}


/* .hero-carousel-wrapper .actions span {
  margin-right: 5px;
} */


/*

.button-spacing {
  display: flex;
  gap: 1px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

*/