:root {
  --expand-section-gradient-size: 3.5rem;
  --max-expand-section-height: 300px;
  --section-gradient: linear-gradient(rgb(255, 255, 255) -54%, transparent 90%);
  --max-unexpanded-height: 5.7rem;
}

.expand-section-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: var(--max-unexpanded-height);
  transition: max-height 600ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0px 5px;
}

.description-title {
  line-height: 2.5rem;
  font-size: 1.25rem;
}

.expand-section-wrapper.expanded .section-gradient {
  mask-image: none;
}

.expand-section-wrapper.expanded {
  max-height: var(--max-expand-section-height);
}

.section-title {
  line-height: 2.5rem;
  font-size: 1.25rem;
}

.expand-button {
  position: absolute;
  bottom: -37px;
  transform: translateX(-50%);
  color: rgb(216, 218, 218);
  left: 50%;
  font-size: 0.9rem;
  cursor: pointer;
  z-index: 2;
  padding: 10px 0px;
  width: 100%;
}

.section-gradient {
  /* cursor: pointer; */
  /* height: 100%; */
  mask-image: var(--section-gradient);
}
