.progress-bar-default {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #a0a0a02d;
  opacity: var(--hover-opacity);
}

.progress-bar-colored {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1%;
  height: 5px;
  background-color: var(--green-color);
}
