.controls {
  display: flex;
  position: relative;
  user-select: none;
  margin-right: 12px;
  white-space: nowrap;
  width: 80px;
  height: 100%;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}

.arrow_left[active='true'],
.arrow_right[active='true'] {
  opacity: 1;
}

.arrow_left,
.arrow_right {
  -webkit-user-drag: none;
  display: inline-block;
  opacity: 0.4;
  padding: 0px 8px;
  transition: opacity 100ms ease-in-out 0s;
  backface-visibility: hidden;
  cursor: pointer;
  height: 25px;
  width: 40px;
}

.arrow_left.placeholder,
.arrow_right.placeholder {
  cursor: auto;
  opacity: 0.2;
}

.control-left {
  width: 34px;
  height: 25px;
  transform: rotate(180deg);
}

.control-right {
  width: 34px;
  height: 25px;
}
