.description-wrapper {
  max-width: 770px;
  color: rgba(232, 232, 232, 0.8);
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  white-space: normal;
  text-align: left;
  hyphens: auto;
  cursor: pointer;
  /* max-height: 90px; */
}

.description-container {
  word-wrap: break-word;
  text-overflow: ellipsis;
}
