header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0c1013;
  color: #a6b9aff5;
  height: 100px;
  display: flex;
  gap: 20px;
  z-index: 1000;
}

header .active span {
  color: white;
  border-bottom: var(--green-color) solid 1.8px;
}

.header-spacer {
  height: 95px;
}
