.browse-card-body {
  width: 160px;
  height: 265px;
}

.browse-card {
  background-color: var(--card-background-color);
  position: relative;
  width: 160px;
  /* height: 360px; */
  height: 100%;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 100ms ease-in-out 0s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.browse-card-poster {
  position: relative;
  z-index: 1;
  object-fit: cover;
  object-position: center center;
  width: 160px;
  margin-bottom: 9px;
  height: 240px;

  transition-duration: 350ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.browse-card p {
  text-align: left;
  color: rgb(194, 194, 194);
  transition: color 100ms ease-in-out 0s;
  font-size: 15px;
  max-width: 160px;
  line-height: 1.2;
  overflow: hidden;
  white-space: normal;
  margin: 10px 5px;
}

.browse-card .fa-play {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 40px;
  z-index: 3;
  transform: translate(-50%, -50%);
}

.browse-card-hover {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(8, 17, 24, 0.85),
    rgba(8, 17, 24, 0) 51%,
    rgba(8, 17, 24, 0.85)
  );
  z-index: 2;
  transition: opacity 100ms ease-in-out 0s;
  display: flex;
}

.browse-card-hover:hover {
  opacity: 1;
}

.browse-card-info {
  width: 100%;
}
