.carousel-wrapper {
  position: relative;
  overflow: hidden;
  height: 360px;
  padding: 0px 5px 0px 5px;
  margin: 0 40px 0 60px;
}

.carousel-title {
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  opacity: 0.8;
  transition: opacity 100ms ease-in-out 0s;
  user-select: none;
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding-top: 3px;
}

.carousel-header {
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.scrolling-section {
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  gap: 24px;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.scrolling-section::-webkit-scrollbar {
  display: none;
}

.scrolling-section .episode-card {
  min-width: 300px;
  background-color: var(--card-background-color);
}
