:root {
  --border-radius: 20px;
}

.single-card-wrapper {
  background-color: var(--main-background-color);
  margin: 40px 0px 40px 0px;
}

.single-card-container {
  position: relative;
  gap: 20px;
  /* width: 1200px; */
  width: 1000px;
  min-width: 450px;
  align-items: flex-start;
  box-shadow: 0px 0px 100px -25px #7e8683;
  border-radius: var(--border-radius);
  background-color: var(--single-card-background);
}

.single-card::after {
  position: absolute;
  content: '';
  aspect-ratio: inherit;
  bottom: 0;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  background: linear-gradient(
    to var(--cr-end-direction),
    transparent 0%,
    var(--single-card-background) 50%,
    transparent 70%
  );
}

.single-card-background {
  position: relative;
  width: 100%;
  height: 100%;

  z-index: 0;
}

.single-card-image {
  position: absolute;
  height: 100%;
  right: 0;
  z-index: 0;
}

.single-card-info-column {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
  align-items: flex-start;
  height: 100%;
  padding-top: 10px;
}

.blur_back {
  background-position: center !important;
  position: absolute;
  object-fit: cover;
  border-radius: var(--border-radius);
  /* background-image: url(''); */
  width: 50%;
  z-index: 0;
}

.single-card-info-wrapper {
  left: 0;
  z-index: 1;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  gap: 10px;
  padding: 15px;
}

.single-card-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.single-card-poster {
  height: 250px;
}

.single-card-tag {
  font-size: 14px;
}

.single-card-description {
  padding: 15px 0px 0px 0px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  width: 100%;
  height: 98px;
  overflow: hidden;
}

.single-card-actions {
  position: absolute;
  bottom: 15px;
  padding: 0px 0px;
  align-self: flex-end;
  width: fit-content;
}
