.movie-media-section {
  width: var(--hero-content-section-width);
  margin: auto;
  display: flex;
  gap: 20px;
  flex-flow: column nowrap;
  margin-bottom: 80px;
}

.movie-media-section [class*='player-container'] {
  min-height: var(--min-player-height-mov);
}
