.thumbnail-wrapper {
  margin-bottom: 15px;
  /* height: 100%; */
}

.playable-thumbnail .fa-play-circle {
  position: absolute;
  font-size: 3.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0.8;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-img-wrapper {
  width: 100%;
  /* height: 100%; */
}
