.hero-content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: var(--hero-content-section-width);
  padding: 0 24px;
  gap: 24px;
}

.hero-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: auto auto 88px;
  gap: 24px;
  width: 100%;
}

.hero-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  min-width: 180px;
  max-width: 330px;
}

.tagline {
  margin: 10px 0 0 5px;
  font-style: italic;
  color: #ffffff7b;
}

.hero-title {
  font-size: 28px;
  line-height: 1;
  color: #fff;
  margin-right: 24px;
  margin-bottom: 4px;
  user-select: text;
  width: 100%;
}

.additional-info {
  color: rgba(255, 255, 255, 0.72);
  font-weight: 400;
  white-space: nowrap;
}

.hero-content {
  max-width: 772px;
  width: 730px;
}

.hero-poster {
  max-height: 500px;
}

.hero-content-header {
  display: flex;
  align-items: flex-start;
}
