:root {
  --hero-content-section-width: 95%;
  --media-card-height: 100%;
}

/* extra-small-mobile-viewport */
@media screen and (max-width: 319px) {
  :root {
    --movie-player-height: 240px;
    --media-card-width: 200px;
    --media-card-height: 113px;
  }
}

/* small-mobile-viewport */
@media screen and (min-width: 320px) {
  :root {
    --movie-player-height: 350px;
    --media-card-width: 300px;
    --media-card-height: 169px;
  }
}

/* mobile-viewport */
@media screen and (min-width: 767px) {
  :root {
    --movie-player-height: 400px;
    --media-card-width: 350px;
    --media-card-height: 197px;
  }
}
/* tablet-viewport */
@media screen and (min-width: 834px) {
  :root {
    --movie-player-height: 500px;
    --media-card-width: 355px;
    --media-card-height: 200px;
  }
}

/* desktop-viewport */
@media screen and (min-width: 1024px) {
  :root {
    --movie-player-height: 600px;
    --media-card-width: 433px;
    --media-card-height: 244px;
  }
}

/* large-desktop-viewport */
@media screen and (min-width: 1200px) {
  :root {
    --hero-content-section-width: 1150px;
    --movie-player-height: calc(700px);
    --media-card-width: 533px;
    --media-card-height: 300px;
  }
}
