.player-header {
  position: relative;
}

.player-wrapper {
  background-color: #000;
  max-height: 75%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.player-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.player-container {
  /* height: 56.25vw; */
  border: none;
  outline: none;
  /* overflow: hidden; */
}

.player-container[data-t='placeholder'] {
  background-color: rgba(57, 57, 57, 0.745);
}

.player-wrapper:hover {
  --translations-opacity: 1;
}
