.player-header {
  position: relative;
}

.player-wrapper {
  background-color: #000;
  height: 100%;
}

.player-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.player-container {
  position: relative;
  width: 100%;
  height: var(--movie-player-height);
  margin-bottom: 40px;
  border: none;
  outline: none;
}

.player-wrapper:hover {
  --translations-opacity: 1;
}
