iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.player-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 18rem);
  background-color: #000;
  margin-bottom: 40px;
  border: none;
  outline: none;
}
