.hero-actions {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  margin-top: 24px;
}

.rounded-button {
  cursor: pointer;
  background: #354651;
  border: none;
  border-radius: 50%;
  color: #fff;
  height: 40px;
  width: 40px;
}
.rounded-button [class^='fa-'] {
  font-size: 18px;
  margin-top: 2px;
}

.action-label {
  color: #cecfd0;
  text-align: center;
  margin-top: 4px;
}
