.fa-play-circle {
  font-size: 60px;
  color: white;
  z-index: 1;
}

.fa-window-close {
  font-size: 30px;
  color: white;
  z-index: 1;
}

.fa-close {
  font-size: 25px;
  color: white;
  z-index: 1;
}

.icon-star-small:before {
  font-size: 1rem;
  content: '\f005';
  cursor: pointer;
}
