.wl-button {
  background: #31373b;
  border: none;
  color: #fff;
  cursor: pointer;
  line-height: 1;
  font-size: 1.5rem;
  padding: 12px 32px;
  border-radius: 5px;
  height: 48px;
  position: relative;
}

.wl-button-active {
  color: #00e18c;
}
