* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: ProximaNova-Medium, system-ui, Arial, sans-serif;
}

:root {
  --main-background-color: #0a1016;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #a6b9aff5;
  background: var(--main-background-color);
  line-height: 1;
  font-family: ProximaNova-Medium, system-ui, Arial, sans-serif;
}

[class^='icon-'],
[class^='fa-'],
[class^='-icon'],
[class*='icon-'] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin: auto;
}

html {
  font-family: 'Jost', sans-serif;
}

img {
  pointer-events: none;
}
