.actions {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 16px;
  width: 100%;
  font-family: ProximaNova-Bold, Arial, sans-serif;
}

.watch-now-btn {
  background: linear-gradient(145deg, #00e18c, #00e36a);
  border: none;
  outline: none;
  color: #081118;
  cursor: pointer;
  line-height: 1;
  font-family: ProximaNova-Bold, Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 16px 20px;
  height: 48px;
  min-width: 228px;
  border-radius: 5px;
  font-weight: bold;
}

.default-button {
  background: #31373b;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  font-family: ProximaNova-Bold, Arial, sans-serif;
  min-width: 240px;
  border-radius: 5px;
  height: 48px;
  position: relative;
}

.default-button,
.watch-now-btn,
.wl_container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.watchlist-button {
  transition: color 0.2s;
}

.watchlist-button.active {
  background: #31373b;
  border: 1px solid var(--green-color);
  color: var(--green-color);
}

.watchlist-button.active [class*='fa-bookmark'] {
  color: var(--green-color);
}

.watch-now-btn span,
.default-button span {
  margin-right: 5px;
  font-size: 1.3rem;
  flex-grow: 0;
  margin: 0;
}
